/* මුළු screen එකම පිරෙන්න පින්තූරය දාන්න */
body {
    margin: 0;
    padding: 0;
    background-image: url('assets/resturent.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center; /* මැදට ගේන්න */
   align-items: center;
}

/* Login Box එක පින්තූරය උඩ පේන විදිහ */
.login-box {
    background: rgba(240, 240, 240, 0); /* වීදුරුවක් වගේ පේන්න (Glassmorphism) */
    backdrop-filter: blur(2px); /* පින්තූරය පිටුපසින් බොඳ වෙන්න */
    padding: 90px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid rgba(250, 250, 250, 0.3);
    width: 350px; /* පෙට්ටියේ පළල */
}

.login-box h1 {
    color: white;
    font-family: "Diwani Letter";
    font-size: 24px;
    margin-bottom: 50px;
}

#LOGIN {
    background-color: rgba(104, 2, 2, 0.5);
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;



 }

#LOGIN:hover{
    background: #430000;
    transform: translate(-8px);
    box-shadow: rgb(78, 34, 1) 0px 30px 60px -12px inset, rgb(165, 72, 2) 0px 18px 36px -18px inset;


}
